body{
    background-image:linear-gradient(to bottom, #003566,#e5e5e5);
    text-align: center;
    font-family: "Orbitron", sans-serif;
}
.main{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-size: 20px;
    color: antiquewhite;
    text-shadow: 5px 5px 5px black;

}

#counth,#countg{
    background-color: #4c956c;
    width: 400px;
    height: 400px;
    border-radius: 10px;
    border-bottom: 5px solid black;
   
}

button{
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: "Orbitron", sans-serif;
}

#countg,#counth{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center; 
    font-size: 100px;
}

.gr:hover{
    background-color: #a8e503;
}

.re:hover{
    background-color: #ff0054;
}

h1{
    margin-left: auto;
    margin-right: auto;
}

@font-face{
    font-family: myfont;
    src:url("dseg7-classic-latin-400-normal.ttf");
}


#mark1,#mark2{
    font-family: myfont;
    font-weight: 300;
    text-shadow: 5px 5px 3px black;
}

